---
layout: default
---

My name is Joe Barrow, and I'm an NLP PhD student at the University of Maryland working for <a href="http://users.umiacs.umd.edu/~resnik/">Professor Philip Resnik</a>.
<hr style="border-top:1px solid #eee;" />

<h2>Series Tracker</h2>
<ul class="tags">
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li><b><a href="#{{t | downcase}}">{{ site.data.series[t].title }}</a></b> has <b>{{ posts | size }} posts</b> and is <b>{{ site.data.series[t].status }}</b></li>
{% endfor %}
</ul>

<hr style="border-top:1px solid #eee;" />

{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = (tag | last) | reverse %}

  <h2 id="{{t | downcase}}">{{ site.data.series[t].title }}</h2>
  <p class="summary">{{ site.data.series[t].description }}</p>
  <div class="posts">
    {% for post in posts %}
      {% if post.tags contains t %}
      <article class="post">
        <div class="image">
          {{ post.letter }}
        </div>
        <div class="description">
          <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
          <div class="entry">
            {{ post.blurb }}
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
